{% extends 'base.html' %}
{% block dashboard %}
{%if dash_result%}
<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsort='disabled'>Host Name</th>
        <th>Vulnerable packages</th>
    </tr>
    </thead>
    <tbody>
    {%for l in dash_result %}
    {%if l.count_rows == 0 %}
    {%else%}
    <tr>
        <td>
            <a href="../score/{{l.host_id}}">{{l.host_name}}</a>
        </td>
        <td>
            {{l.count_rows}}
        </td>
    </tr>
    {%endif%}
    {%endfor%}
{%else%}
<p>Not result</p>
{%endif%}
{% endblock %}