{% extends 'base.html' %}
{% block detail %}
{%if details_list%}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Programm</th>
      <th>CVE</th>
    </tr>
  </thead>
    <tbody>
{%for details in details_list%}
  <tr>
    <td><a href="{{details.url}}" target="_blank">{{details.programm}}</a></td>
    <td>{%if details.cve_list%}
      {{details.cve_list}}
      {% else %}
      <p>No CVE</p>
      {%endif%}
    </td>
  </tr>
{%endfor%}
  </tbody>
</table>
 {% else %}
    <p>No Host are available.</p>
{%endif%}
{% endblock %}