{% extends "base.html" %}
{% block host %}
<form method="POST" action="/add">{% csrf_token %}
   <fieldset class="form-group">
      <label for="hostname">Host Name</label>
      <input type="text" class="form-control" name="hostname" placeholder="Enter Host Name" value="{{form.hostname}}">
   </fieldset>
   <fieldset class="form-group">
      <label for="ipaddress">IP Address</label>
      <input type="text" class="form-control" name="ipaddress" placeholder="Enter IP Address" value="{{form.ipaddress}}">
   </fieldset>
   <fieldset class="form-group">
    <label for="exampleSelect1">OS</label>
    <select class="form-control" name="hosttype">
      <option>FreeBSD</option>
      <option>Linux</option>
    </select>
   </fieldset>
   <fieldset class="form-group">
    <label for="exampleSelect1">Status</label>
    <select class="form-control" name="hoststatus">
        <option>Internal</option>
        <option>External</option>
    </select>
   </fieldset>
   <button type="submit" class="btn btn-primary" >Submit</button>
</form>
{% endblock %}