{% extends "base.html" %}
{% block index %}
<div class="starter-template">
  {% if host_list %}
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Host name</th>
      <th>IP address</th>
      <th>Date</th>
      <th>Type</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
      <tbody>
    {% for host in host_list %}
      <tr>
        <td><a href="/host/{{host.pk}}">{{host.host_name}}</a></td>
        <td><a href="/host/{{host.pk}}">{{host.host_address}}</a></td>
        <td>{{host.host_data_create}}</td>
        <td>{{host.host_type}}</td>
        <td>{{host.host_status}}</td>
        <td><a href="/dell/{{host.pk}}" ><span class="glyphicon glyphicon-remove" style="margin-right: 10px;" aria-hidden="true"> </span></a> <a href="/play/{{host.pk}}" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a> </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No Host are available.</p>
  {% endif %}
{% endblock %}